.header {
    height: 69px;
    padding: 16px 0px 13px 0px;
    background-color: var(--color-grey-1);
    box-shadow: 0px 4px 32px -12px var(--color-black-opacity-25);
}

.header_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_img {
    height: 20px;
    width: 123px;
    object-fit: cover;
}

.header_btn {
    padding: 10.5px 15px;
    background-color: var(--color-grey-2);
    border: 1.4px solid var(--color-grey-2);
    border-radius: 8px;

    font-family: var(--font-family-1);
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-4); /* 14px */
    line-height: 19px;
    text-align: center;
    color: var(--color-grey-5);

    cursor: pointer;
}

@media(min-width: 426px) {
    .header {
        height: 88px;
        padding: 22px 0px 26px 0px;
    }
}